/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
/* fine regole generali */



/* debug */
.debug {
    border: 1px solid white;
}

main.debug {
    height: 1550px;
    width: 90%;
}
/* fine debug */



/* regole comuni */
.margin-top-50px {
    margin-top: 50px;
}

.margin-bottom-100px {
    margin-bottom: 100px;
}

.font-size-2em {
    font-size: 2em;
}

.font-size-0_8em {
    font-size: 0.8em;
}

.font-size-0_6em {
    font-size: 0.6em;
}

.fixed-top{
    position: fixed;
    width: 100%;
    top: 0;
}

.fixed-bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
/* fine regole comuni */



/* header */
header {
    height: 50px;
    justify-content: flex-end;
    align-items: flex-start;
}

header .speaker-view, header .expand-view {
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 25px;
    align-items: center;
}

header .speaker-view i {
    padding-right: 5px;
}

header .expand-view {
    padding-top: 6px; /* icona non centrata */
}
/* fine header */



/* main */

/* fine main */



/* footer */
footer {
    height: 100px;
    justify-content: space-between;
}

footer .nav-left {
    min-width: 100px;
    /* width: 15%;
    justify-content: space-between; */
}

footer .nav-main {
    width: 60%;
    justify-content: space-between;
}

#green-icon {
    color: rgb(76, 200, 3);
}

footer .end-meeting {
    width: 120px;
    background-color: rgb(74, 74, 74);
    color: #f00;
}
/* fine footer */