/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: sans-serif;
}
/* fine regole generali */



/* regole comuni */
.font-size-0_8em {
    font-size: 0.8em;
}

.flex {
    display: flex;
}
/* fine regole comuni */



/* header */
header {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #000;
}

header .speaker-view, header .expand-view {
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 25px;
    align-items: center;
    cursor: pointer;
}

header .speaker-view i {
    padding-right: 5px;
}

header .expand-view {
    padding-top: 6px; /* icona non centrata */
}
/* fine header */



/* main */
main {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #000;
    justify-content: center;
    flex-wrap: wrap;
}

main .partecipant {
    position: relative;
    margin: 3px;
}

main .partecipant img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main .partecipant .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
/* fine main */



/* footer */
footer {
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.footer-left, .footer-central, .footer-right {
    flex-shrink: 0;
}

footer .icon {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px 10px;
    cursor: pointer;
}

#green-icon {
    color: rgb(76, 200, 3);
}

footer .footer-right {
    width: 120px;
    background-color: rgb(74, 74, 74);
    color: #f00;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* fine footer */